        <div class="product">
            <div class='product-body'>
              <h3>Absence Prevue</h3>
              <p>2</p>
            </div>
          </div><br>
          <div class="product">
            <div class='product-body'>
              <h3>Absence Predite</h3>
              <p><%=rand(3) + 1%></p>
              <p>fiabilité : <%= (rand(3)+1) * 0.2563%> </p>
            </div>
          </div><br>
          