  
  .dashboard{  width:100%;
  height:100vh;
    background:#312783;
    color:white;
  }
  .card{    border-radius: .25rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }